#post_form_add {
    margin: 1.6em 0 0 2em;
}

#post_form_btn {
    float: right;
    font-size: large;
    font-weight: bold;
    margin-top: 2em;
}

div#appbundle_post_images > div {
    margin: 1em;
    width: 70%;
    border: 0;
}

#add_image{
    font-size: small;
    padding: 0.4em;

}

.del_field{
    margin: 0.4em;
    font-size: x-small;
    padding: 0.2em;
}