

#layout_title {
    font-weight: bold;
    text-align: center;
}

#layout_description {
    border-right: solid black 1px;
    margin-top: 1em;

}

#description_name {
    font-weight: bold;
    font-size: 1.6em;
    margin-top: 1em;
    text-align: center;
}

#description_coordinate {
    margin-top: 1.8em;
    font-weight: bold;
    font-size: 1em;
}

#description_link {
    margin-top: 3em;
    font-size: 1.4em;
}

.description_link_list {
    margin-top: 1.4em;
}

#layout_menu {
    border-top: solid black 1px;
    margin-top: 1em;
    padding-top: 2em;
}

#layout_menu > ul {
    padding: 0;
    border: solid black 1px;
    text-align: center;
}

#layout_menu > ul > li {
    display: inline-block;
    float: none;
    margin: 1em;
    font-weight: bold;
    font-size: large;
}

#layout_menu > ul > li > a {
    color: black;
}

#layout_menu > ul > li > a:hover {
    text-decoration: none;
    color: #606060;
}