body {
    background: fixed;

    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.83), rgba(255, 255, 255, 0.83)),
    url("../img/css/image-jv2.jpg");

    background-repeat: no-repeat;
    background-size: 100%;
    margin: 1em;
}

#layout_title {
    font-weight: bold;
    text-align: center;
}

#layout_description {
    margin-top: 1em;

}

#description_name {
    font-weight: bold;
    font-size: 1.6em;
    margin-top: 1em;
}

#description_coordinate {
    margin-top: 1.8em;
    font-weight: bold;
    font-size: 1em;
}

#description_link {
    margin-top: 3em;
    font-size: 1.4em;
}

.description_link_list {
    margin-top: 1.4em;
}

#layout_menu {
    border-top: solid black 1px;
    margin-top: 1em;
    padding-top: 2em;
}

#layout_menu > ul {
    padding: 0;
    border: solid black 1px;
    text-align: center;
}

#layout_menu > ul > li {
    display: inline-block;
    float: none;
    margin: 0.8em;
    font-size: large;
}

#layout_menu > ul > li > a {
    color: black;
}

#layout_menu > ul > li > a:hover {
    text-decoration: none;
    color: #606060;
}

#layout_alert {
    text-align: center;
    float: inherit;
    margin-top: 1em;
}

#layout_mentionslegales {
    text-align: center;
    padding: 2em;
}

@media (max-width: 360px) {
    #layout_description {
        display: none;
    }
}

@media (min-width: 361px) {
    #layout_body {
        border-left: solid black 1px;
        padding-left: 2.5em;
    }
}