<div id="description_img">

    <img src="{{ img('Picture2.jpg') }}" width="200" height="145">

</div>

<div id="description">
    <p id="description_name">
        Nicolas
        BOSTJANCIC
    </p>

    <p id="description_coordinate">
        nicolas.bostjancic@gmail.com
        06.82.46.64.25
    </p>

</div>

<div id="description_link">

    <p class="description_link_list">
        <a href="https://github.com/Menedyl">Lien GitHub</a>
    </p>

    <p class="description_link_list">
        <a href="https://www.linkedin.com/in/nicolas-bostjancic-0646ba100/">Lien LinkedLn</a>
    </p>

    <p class="description_link_list">
        <a href="{{ file('CV.pdf') }}">Lien CV</a>
    </p>

</div>


