<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block stylesheet %}
        <link rel="stylesheet" href="../css/layout.css">
    {% endblock %}

</head>

<body>
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-2">

        </div>

        <div class="col-sm-10">

            <h1 id="layout_title">DEVELOPPEUR D'APPLICATION</h1>

            {% block menu %}
            {% endblock %}

            {% block body %}
            {% endblock %}
        </div>
    </div>


</div>
</body>
</html>