<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block stylesheet %}
        <link rel="stylesheet" href="{{ css('layout') }}">
    {% endblock %}

</head>

<body>
<div class="container-fluid">

    <div class="row">
        <div id="body" class="col-md-12">

            <div id="layout_description" class="col-md-2">
                {% include "description.twig" %}
            </div>

            <div class="col-md-10">

                <div class="row">
                    <h1 id="layout_title">DEVELOPPEUR D'APPLICATION</h1>
                </div>

                <div class="row">

                    <div id="layout_menu" class="col-md-offset-3 col-md-6">
                        {% include "menu.twig" %}
                    </div>

                </div>


                {% if info %}
                    {% for message in info %}
                        <div id="layout_alert" class="alert alert-info col-md-offset-4 col-md-4">
                            <p>
                                {{ message }}
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}


                <div class="row">

                    <div class="col-md-12">
                        {% block body %}
                        {% endblock %}

                        {% block scripts %}
                        {% endblock %}
                    </div>

                </div>


            </div>

        </div>
    </div>

</div>
</body>
</html>