{% extends 'layout.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ css('post_list') }}">
{% endblock %}


{% block body %}

    <h1>blog list</h1>


{% endblock %}