{% extends 'Post/form.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ css('Post/edit') }}">
{% endblock %}

{% block legend %}
    <legend>Modifier un post</legend>
{% endblock %}

{% block images %}

    <div class="row">

        <div class="col-md-offset-1 col-md-10">

            <p id="edit_label">Images présentes :</p>

            <div class="row">

                {% for image in post.images %}

                    <div class="col-md-2 col-md-offset-1 edit_image">
                        <img src="{{ img('uploads/' ~ image.url) }}" width="200">
                        <p id="edit_alt">{{ image.alt }}</p>
                    </div>

                {% endfor %}

            </div>

        </div>

    </div>

{% endblock %}